.detail-container{
    max-width: 64rem ;
    padding: 10px;
    margin:  0 auto;
    display: flex;
    gap: 10px;

}
.author{
    width: 30%;
}
.post-detail-container{
    width: 100%;
}
.detail-title{
    font-size: 2rem/* 14px */;
    line-height: 1.5rem/* 20px */;
    padding: 1rem;
}
.detail-author-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.detail-post-img{
    width: 100%;
}
.post-detail-container .cnt{
    font-size: 1rem/* 14px */;
    line-height: 1.5rem/* 20px */;
    margin-bottom: 20px;
}
.post-detail-container-header{
    display: flex;
    align-items: center;
    gap: 8px;
}
.au-own{
    display: flex;
    flex-direction: column;
}


.post-list-container{
    width: 100%;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    gap: 5px;

}
.post-card{
    padding: 5px; 
}
.post-card:hover{
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.post-cd{
    display: flex;
    align-items: flex-start;
    /* align-items: center; */
    gap: 4px;
}

.post-img{
    width: 100%;
    border-radius: 10px;
}
.post-author-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



@media screen and  (max-device-width: 500px) {
    /* Input Styles */

     
 }