{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/account.css') }}">
<title>About</title>
{% endblock %}

{% block content %}
<div style="margin-top:60px; text-align:center">
    <h1  class="title">Xenith</h1>
    <p>Xenith is a blogging and social networking website. This website is built as the second semester project for <a href="https://www.altschoolafrica.com">AltSchoolAfrica</a></p>
</div>

    
</div>
{% endblock %}
{% block script %}

{% endblock %}