<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/login.css') }}">
    <title>Forget Password</title>
</head>
<body>
    <div class="login-main">
        <div class="login-container">
            <img src="{{ url_for('static' , filename='img/logo12.jpeg') }}"  class="logo" alt="">
            <h2>Forget Password!</h2>
            <p>Enter the email address for yor account</p>
            <form method="post">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category , message in messages %}
                            {% if category == 'success' %}
                                <p class="success">{{ message}}</p>
                            {% else %}
                                <p class="error">{{ message}}</p>
                            {% endif%}
                        {% endfor%}
                    {% endif %}
                {% endwith%}
                {{ form.email( placeholder='Email') }}
                {{ form.submit(class="custom-button")}}
            </form>
        </div>
    </div>
    
    <script>
        function showPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }

          const eye = document.getElementById('togglePassword')
          eye.addEventListener('click', showPassword)
    </script>
</body>

</html>